###############
# PYTHON ENV  #
###############
venv/
tfenv/
__pycache__/
*.pyc

###############################
# BUILD / CACHE / TEMP FILES  #
###############################
*.log
*.tmp
*.swp

#################
# MODEL TRAINING
#################

# Local TF exports not used
new_savedmodel/
models/
*.tar.gz
*.pb

# DO NOT ignore Triton models!
# Keep the Triton repository intact in Git.

#########################
# RUNTIME / BENCHMARKING
#########################

# Loadgen traces and results
workload/traces/
workload/*.csv

# Any other workload outputs
*.csv

#########################
# EDITOR / TOOLING JUNK #
#########################
.DS_Store
.idea/
.vscode/
