# Ignore TensorFlow models
new_savedmodel/
triton_model_repository/**/model.savedmodel/
triton_model_repository/**/saved_model.pb
triton_model_repository/**/variables/
triton_model_repository/**/assets/
models/
*.pb
*.tar.gz

# Ignore virtual environments
venv/
tfenv/
